@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    margin: 5px;
    padding: 0px;
    background: #b3dff8;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkite-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c87afc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5c72eb;
}

.unit {
    margin: 3px;
    padding: 5px;
    width: 40%;
    height: 10%;
    position: sticky;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    border: 5px;
    border-color: blue;
    border-radius: 10px;
    margin-bottom: 30px;
}

* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    background-color: rgb(174, 209, 243);
}

.output {
    background-color: aqua;
    padding: 20px;
    border: 2px solid rgb(41, 70, 28);
    margin: 10px;
    background-color: rgb(204, 229, 252);
    margin-left: auto;
}

.text {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

strong {
    color: rgb(18, 18, 158);
}

a {
    display: inline-block;
    background: #69c;
    color: rgb(0, 47, 255);
    padding: 10px 20px;
    text-align: center;
    margin: 2px;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

a:hover {
    color: rgb(25, 7, 37);
    border: 5px;
    border-radius: 5px;
    align-items: center;
}

h1 {
    align-items: center;
    justify-content: center;
}